<h1>Homepage</h1>
<p>Welcome to Our Homepage</p>

<li>
        <a href="/teachers">View Teachers</a>
</li>
<li>
        <a href="/students">View Students</a>
</li>
<li>
        <a href="/subjects">View Subjects</a>
</li>
