<h1>Add New Students </h1>

<form action="/students" method="POST">
    <ul>
        <li>
                <input type="text" class="addStudent" name="grade" placeholder="Grade">
        </li>
        <li>
                <input type="text" class="addStudent" name="firstname" placeholder="Firstname">
        </li>
        <li>
                <input type="text" class="addStudent" name="lastname" placeholder="Lastname">
        </li>
    </ul>

<button>Add Student</button>
</form>
